@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.playfair,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #bd9867;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.projectsSectionbg {
  background-image: url("https://cdn.shopify.com/s/files/1/0852/5099/8550/files/Projects.webp?v=1720037563");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactSectionbg {
  background-image: url("https://cdn.shopify.com/s/files/1/0852/5099/8550/files/Contact.webp?v=1720037563");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutSectionbg {
  background-image: url("https://cdn.shopify.com/s/files/1/0852/5099/8550/files/About_1.webp?v=1720037562");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ----------------- HOVER BUTTON CSS ----------------- */

.hover_button {
  padding: 0.55rem 1.8em;
  border: 2px solid #9f8054;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: inherit;
  color: #9f8054;
  transition: 0.4s ease-in-out;
}

.hover_button:hover {
  background-color: #9f8054;
  color: #fff;
}

.card {
  box-shadow: 0 0 45px 3px #ebcfa7;
}

.spinner {
  width: 70.4px;
  height: 70.4px;
  --clr: rgb(247, 197, 159);
  --clr-alpha: rgb(247, 197, 159, 0.1);
  animation: spinner 1.6s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3.5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-35.2px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(35.2px);
}

@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
